<div class="header cyan">
  <div class="row">
    <div class="logo col s2 m2">
      <a href="/"> <img src="/assets/images/icons/linear/logo-white.png" alt=""> </a>
    </div>
      {{#if showMenuToggler}}
        {{#if isOpen}}
          <span class="toggler" {{action "closeMenu"}}><i class="material-icons">close</i></span>
        {{else}}
          <span class="toggler" {{action "openMenu"}}><i class="material-icons">more_vert</i></span>
        {{/if}}
      {{/if}}
      {{#if isOpen}}
         <div class="nav col s12 m10">
           <ul class="menu">
             <li>
               {{#link-to "home"}}Inicio {{/link-to}}
             </li>

             {{#if isAdminUser}}
               <li>
                 {{#link-to "new-lunch"}} +Menu {{/link-to}}
               </li>

               <li>
                 {{#link-to "orders"}} Ordenes {{/link-to}}

               </li>

               <li>
                 {{#link-to "notify"}} Notificar {{/link-to}}
               </li>
             {{/if}}

             <li>
               {{#link-to "feedback"}} Feedback {{/link-to}}
             </li>

             <li>
               <a class="exit-btn" {{action "logOut"}}> Salir </a>
             </li>
           </ul>
         </div>
      {{/if}}
  </div>
</div>
