<div class="modal-component">
  <div class="loading-container">
    <p class="phrase"> Bon Apetit, {{user}} </p>
    <div class="loading">
      <img src="/assets/images/loading.gif" alt="">
    </div>
    <a href="/feedback" class="feedback-link"> Tienes propuestas, dudas o comentarios que nos ayuden a mejorar? </a>
  </div>


</div>
