<div class="modal-component">
  <div class="loading-container">
    <p class="phrase"> Buen Provecho, {{user}} ! </p>
    <a href="/feedback" class="feedback-link"> Tienes propuestas, dudas o comentarios que nos ayuden a mejorar? </a>
  </div>
</div>
