.feedback{

  .divider {
    margin: 18px 0;
  }

  p {
    font-size: 16px;
  }

  a.btn {
    float: right;
    margin-right: 5%;
    margin-top: 20px;
  }

  .title {
    display: inline-block;
    vertical-align: top;
  }

  textarea {
    display: block;
    width: 90%;
    margin: 0 auto;
    padding: 5px;
    border: 2px #26c6da dashed;
    min-height: 150px;
  }
}
