.form {
  margin: 0px 10px;
  background-color: #fafafa;
  box-sizing: border-box;
  border: 1px solid #dcdada;
  border-radius: 6px;
  padding: 10px 15px;
  box-shadow: 1px 1px 5px #cfd8dc;

  .switch-container {
    margin: 10px 0;
  }

  .add  {
    text-align: right;

    button {
      background: none;
      border: none;
      padding: 0;
      line-height: 0;

      &:focus {
          outline: none;
          background-color: none;
      }

      &:active {
          color: #ec407a;
      }
    }
  }
}


.question {
  [type="checkbox"]+label ,
  [type="radio"]+label{top:0}

}


.order-form {
  .question {
    padding: 0 10px;
    min-height: 100px;

    p {
      display: block;
      margin: 5px 0;
      label {
        font-size: 16px;
        text-transform: capitalize;
        color: black;
        top: 0;
      }
    }
  }
}

.add-button:hover {
  color: #4db6ac;
}

.remove-button:hover {
  color: #d50000;
}
