
html body {
  font-family: 'Bubbler One', sans-serif;
  padding-bottom: 20px;
}

strong {
  font-family: sans-serif;
  font-weight: 300 !important;
}
 .divider.header {
   height: 15px !important;
   margin-bottom: 20px;
 }

 .divider {
   margin: 10px 0
 }

 .header {
   padding: 0 10px;
   a {
     display: block;
     width: 100px;
     padding: 20px 0 10px;
     img {
       width: 100%;
     }
   }
   .row {
     margin-bottom: 0px;
   }
 }


 .phrase-container {
   text-align: right;
   color: #ec407a;
 }

.phrase {
  font-family: 'Sacramento', cursive;
  font-size: 20px;
  line-height: 41px;
}

.card .card-action a.fill-link {
  color: #fff !important;
  display: block;
  text-align: center;
  margin-right: 0 !important;
}

.textshadow {
  text-shadow: 3px 3px 4px #e8bcd3;
}


.icon {
  img{
    width: 50px;
  }

  h5 {
    display: inline-block;
    vertical-align: top;
    margin-left: 5px;
  }
}


form .form .descp-input input{
  width: 300px;
  margin-left: 20px;
}

.alert {
  padding: 10px;
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
  margin: 0 38%;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 3px 3px 11px #3a3a3a;
}

.modal-component {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);

  .loading-container {
    background-color: white;
    height: 220px;
    width: 500px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid gray;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    p {
      text-align: center;
      color: #ec407a;
      font-size: 30px;
      margin: 10px;
      text-transform: capitalize;
    }

    img {
      display: block;
      margin: 0 auto;
    }

    a {
      display: block;
      text-align: center;
      padding: 10px 0;
    }
  }
}
