html, body {
  height: 100%;
}

html body {
  min-width: 400px;
  font-size: 14px;
  font-family: 'Catamaran', cursive;
  background-color: #f2f9ff;
  background-image: url(/assets/images/bg.png);
  background-blend-mode: overlay;
}

* {
  -webkit-transform: translateZ(0);
}

.container {
  padding: 20px;
  margin-bottom: 20px !important;
  background-color: #fff;
  border-radius: 20px;
  border: 1px solid #dcdada;
  box-shadow: 1px 2px 3px #dcdbdb;
}

strong {
  font-family: 'Catamaran', cursive;
  font-weight: 300 !important;
}

.phrase-container {
   text-align: right;
   color: #26c6da;
}

.phrase {
  font-family: 'Pacifico', cursive;
  font-size: 20px;
  line-height: 41px;
}

.card .card-action a.fill-link {
  color: #fff !important;
  display: block;
  text-align: center;
  margin-right: 0 !important;
}

.textshadow {
  text-shadow: 3px 3px 4px #e8bcd3;
}

.page-title {
  margin-bottom: 10px;

  img, h4, h5{
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
  }

  h5, h4 {
    line-height: .9;
    font-family: 'Pacifico', cursive;
  }

  img{
    width: 40px;
    margin-right: 10px;
  }
}

.form div.icon {
  img, h5 {
    display: inline-block;
    vertical-align: bottom;
    margin: 0;
  }

  h5 {
    line-height: .9;
    font-size: 23px;
    font-family: 'Catamaran', cursive;
  }

  img {
    width: 30px;
    margin-right: 10px;
  }
}


form .form .descp-input input{
  width: 200px;
  margin-left: 20px;
}

.alert {
  padding: 10px;
  position: absolute;
  top: 117px;
  left: 0;
  right: 0;
  margin: 0 38%;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 20px;
  box-shadow: 3px 3px 11px #3a3a3a;
}
