.header {
  background-color: #d81b60;

  .logo {
    a {
      display: inline-block;
      width: 80px;
      padding: 10px 15px;

      img {
        width: 100%;
      }
    }
  }

  .nav {
    text-align: right;

    ul.menu {
          margin: 34px 20px 30px 0px;

      li {
        display: inline-block;
        margin-left: 20px;
        position: relative;

        &:hover{
          .tooltip-text {
            visibility: visible;
          }
        }

        .tooltip-text {
          visibility: hidden;
          position: absolute;
          width: inherit;
          bottom: -22px;
          left: -3px;
          background-color: #ad1457;
          display: inline-block;
          color: white;
          border: 1px solid white;
          border-radius: 4px;
          font-size: 12px;
          padding: 2px 5px;
        }

        a {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-size: contain;

          &.home-tab {
            background-image: url("/assets/images/icons/png/home.png");
            &:hover, &.active {
              background-image: url("/assets/images/icons/png/filled-icons/home.png");
            }
          }
          &.newmenu-tab{
            background-image: url("/assets/images/icons/png/newmenu.png");
            &:hover, &.active {
              background-image: url("/assets/images/icons/png/filled-icons/newmenu.png");
            }
          }
          &.orders-tab{
            background-image: url("/assets/images/icons/png/orders.png");
            transition: all linear .50s;
            &:hover, &.active {
              background-image: url("/assets/images/icons/png/filled-icons/orders.png");
            }
          }
          &.notifications-tab{
            background-image: url("/assets/images/icons/png/team-white.png");
            transition: all linear .50s;
            &:hover, &.active {
              background-image: url("/assets/images/icons/png/filled-icons/team.png");
            }
          }

          &.feedback-tab{
            background-image: url("/assets/images/icons/png/feedback.png");
            transition: all linear .50s;
            &:hover, &.active {
              background-image: url("/assets/images/icons/png/filled-icons/feedback.png");
            }
          }

          &.exit-btn{
            background-image: url("/assets/images/icons/png/exit.png");
            transition: all linear .50s;
            cursor: pointer;

            &:hover {
              background-image: url("/assets/images/icons/png/filled-icons/exit.png");
            }
          }
        }
      }
    }
  }
}


.orderHome {
  h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  .description {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10px;
    vertical-align: top;

    span {
      font-size: 16px;
    }
  }
  .orderImage {
    width: 67px;
    display: inline-block;
    vertical-align: top;
  }

  a {
    display: block;
  }
}
