.header {
  background-color: #d81b60;

  .logo {
    a {
      display: inline-block;
      width: 80px;
      padding: 10px 15px;

      img {
        width: 100%;
      }
    }
  }

  .nav {
    text-align: right;

    ul.menu {
          margin: 34px 20px 30px 0px;

      li {
        display: inline-block;
        margin-left: 20px;
        position: relative;

        &:hover{
          .tooltip-text {
            visibility: visible;
          }
        }

        .tooltip-text {
          visibility: hidden;
          position: absolute;
          width: inherit;
          bottom: -22px;
          left: -3px;
          background-color: #ad1457;
          display: inline-block;
          color: white;
          border: 1px solid white;
          border-radius: 4px;
          font-size: 12px;
          padding: 2px 5px;
        }

        a {
          display: inline-block;
          width: 30px;
          height: 30px;
          background-size: contain;
          transition: all linear .30s;

          &.home-tab {
            background-image: url("/assets/images/icons/linear/home.svg");
            &:hover, &.active {
              background-image: url("/assets/images/icons/multicolor/home.svg");
            }
          }
          &.newmenu-tab{
            background-image: url("/assets/images/icons/linear/newmenu.svg");
            &:hover, &.active {
              background-image: url("/assets/images/icons/multicolor/newmenu.svg");
            }
          }
          &.orders-tab{
            background-image: url("/assets/images/icons/linear/orders.svg");
            &:hover, &.active {
              background-image: url("/assets/images/icons/multicolor/orders.svg");
            }
          }
          &.notifications-tab{
            background-image: url("/assets/images/icons/linear/team.svg");
            &:hover, &.active {
              background-image: url("/assets/images/icons/multicolor/team.svg");
            }
          }

          &.feedback-tab{
            background-image: url("/assets/images/icons/linear/feedback.svg");
            &:hover, &.active {
              background-image: url("/assets/images/icons/multicolor/feedback.svg");
            }
          }

          &.exit-btn{
            background-image: url("/assets/images/icons/multicolor/arrow.svg");
            cursor: pointer;

            &:hover {
              background-image: url("/assets/images/icons/multicolor/exit.svg");
            }
          }
        }
      }
    }
  }
}

.other-food-content {
  margin-top: 47px;
  border: 1px solid #dcdada;
  padding: 15px 20px 15px 10px;
  border-radius: 7px;

  .soup-container , .drink-container {
    margin-bottom: 10px;
    .switch, .icon {
      display: inline-block;
    }
    .icon  { margin-right: 10px;}
    .switch {
      float: right;
    }
  }
}

.orderHome {
  h3 {
    font-size: 20px;
    margin: 10px 0;
  }
  .description {
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 10px;
    vertical-align: top;

    span {
      font-size: 16px;
    }
  }
  .orderImage {
    width: 67px;
    display: inline-block;
    vertical-align: top;
  }

  a {
    display: block;
  }
}
