.other-food-content {
  margin: 20px 10px 0 10px;

  h6  {
    margin: 0;
    font-size: 20px;
  }
  .soup-container , .drink-container {
    margin-bottom: 10px;
    .switch, .icon {
      display: inline-block;
    }
    .icon  { margin-right: 10px;}
  }
}

.orderHome, .noMenu, .noOrders{
  text-align: center;
  margin-top: 50px;

  img {
    width: 100px;
    vertical-align: top;
  }

  h3 {
    font-size: 20px;
    margin: 0;
  }
  .description {
    text-align: left;
    vertical-align: top;
    display: inline-block;
    margin-top: 15px;
    vertical-align: top;
    color: #bbb;

    span {
      font-size: 16px;
      font-weight: 300;
    }

    a {
      color: #00bcd4;
    }
  }
}

.orderHome {

  img {
    margin-right: 10px;
    margin-top: 20px;
  }
}
