#notificationsTable {
  th {
    font-family: sans-serif;
    font-weight: 300 !important;
    padding: 5px 10px;
  }

  td {
    padding: 8px 10px;
    font-size: 16px;
    line-height: 0;
  }

  .username {
    text-transform: capitalize;
  }

  .icon-cell {
    i {
      padding-top: 5px;
    }
  }

  .checks {
    width: 50px;
  }
}

.notifications-add-member {
  margin-top: 20px !important;

  .form {
    input {
      width: 30%;
      margin-right: 20px;
    }
  }
}

.toolbar {
  display: inline-block;
  float: right;

  .notifications-btn {
    padding: 5px 12px;
    font-size: 16px;
    margin-top: 12px;
    border: 0;
    color: white;
    border-radius: 5px;
    background-color: #d81b60;

    img {
      width: 23px;
      vertical-align: top;
    }

    span {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.notifications.page-title {
  display: inline-block;
}

.notifications-add-member {
  button.btn {
    padding: 2px 12px;
    font-size: 13px;
    height: 27px;
    line-height: 0px;
  }
}
