table.orders{
  font-size: 16px;
  border: 1px solid #d0d0d0;
  box-shadow: 0px 1px 3px rgba(144, 143, 143, 0.57);

  ul {
    margin: 0;
  }

  td, th{
    padding: 5px;
  }
}

.orders-container {
  padding: 20px;

  img, h3{
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
  }

  img{
    width: 50px;
    margin-top: -5px;
  }
}
