table.orders{
  font-size: 16px;
  border: 1px solid #d0d0d0;
  box-shadow: 0px 1px 3px rgba(144, 143, 143, 0.57);

  ul {
    margin: 0;
  }

  td, th{
    padding: 5px;
  }
}

.orders-container {
  padding: 0 20px;
  text-transform: capitalize;

  .orders-tools {
    margin: 0;

    .orders-info{
      display: inline-block;

      span {
        margin-top: 6px;
        margin-right: 10px;
      }
    }
  }
}


.export-send-tools {
  margin: 20px 0;

  a {
    font-size: 12px;
    height: 33px;
    vertical-align: top;
    margin-right: 10px;
    padding: 0 10px;

    &:last-child {
      margin-right: 0;
    }

    i {
      font-size: 16px;
      line-height: normal;
      margin-right: 2px;
    }
  }
}
