
@media all and (max-width: 790px) {

}

@media all and (max-width: 700px) {
  .form {
    margin: 0px;
    padding: 10px;
  }

  .form div.icon {
    h5 {
      font-size: 16px;
      line-height: 1;
      margin: 0;
    }
  }

}

@media all and (max-width: 620px) {
  body {
    table {
      font-size: 10px !important;
    }
  }
  .export-send-tools {
    margin: 0;
    a {
      margin: 10px 0;
      display: block;
      width: 100%;
    }
  }
}

@media all and (max-width: 600px) {
  .form {
    margin-bottom: 10px;
  }

  body .row {
    margin-bottom: 0px;
  }

 .header div.nav {
   padding: 0;
   background-color: #2aacc1;

   ul.menu {
     width: 100%;
     margin: 0;

     li {
       display: block;
       width: 100%;
       position: none;
       margin: 0;

       a{
         display: block;
         padding: 5px 0 ;
         text-align: center;

         &:hover {
           background-color: #00bcd4;
         }
       }
     }
   }
 }

}


@media all and (max-width: 560px) {
  body {
    .orderHome, .noMenu, .noOrders {
      img {
        display: inline-block;
        margin: 0 auto;
      }

      .description {
        display: block;
        width: 100%;

        h3 {
          text-align: center;
        }
      }
    }
  }

}


@media all and (max-width: 400px) {
  body {
    table * {
      font-size: 10px;
    }

    .export-send-tools a {
      font-size: 10px;
      display: inline-block;
      width: 30%;
      text-overflow: ellipsis;
      vertical-align: top;
      margin-right: 5px;
      padding: 0;
    }

    .page-title h4, .page-title h5 {
      font-size: 17px;
      margin: 0;
    }

    .orders-container {
      padding: 0 5px;
    }
  }
}
