@media all and (max-width: 1100px) {
  .icon {
    h5 { font-size: 21px; }
    img { width: 40px;}
  }

  .container {
    h3 {font-size: 31px;}
  }
}

@media all and (max-width: 790px) {
  .icon {
    h5 {
      font-size: 18px;
      line-height: 1;
      margin: 7px 0;
    }
    img { width: 30px; }
  }

  .container {
    .page-title h4 {
      font-size: 25px;
      margin-top: 12px;
      margin-bottom: 0;
      vertical-align: top;
    }
  }

  .input-field { margin-top: 5px; }

  .order-form .question {
    padding: 10px;
  }

  .form {
    margin-top: 15px;
    padding: 0 0.20rem !important;
  }
}

@media all and (max-width: 700px) {
  .form div.icon {
    h5 {
      font-size: 18px;
      line-height: 1;
      margin: 0;
    }
  }

}

@media all and (max-width: 600px) {
 .header div.nav {
   padding: 0;
   background-color: #2aacc1;

   ul.menu {
     width: 100%;
     margin: 0;

     li {
       display: block;
       width: 100%;
       position: none;
       margin: 0;

       a{
         display: block;
         padding: 5px 0 ;
         text-align: center;

         &:hover {
           background-color: #00bcd4;
         }
       }
     }
   }
 }

}
