# See https://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp

# dependencies
/node_modules
/bower_components

# misc
/.sass-cache
/public/assets/images/animations/NetLogo-6.0.2  
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log*
testem.log
