<div class="header">
  <div class="row">
     <div class="col s12 m2 valign-wrapper">
       <a href="/"> <img src="/assets/images/logofoodzy.png" alt=""> </a>
     </div>

     <div class="col s12 m10">
       <div class="phrase-container">
         <h3 class="phrase">Nuestra comida debería ser nuestra medicina y nuestra medicina debería ser nuestra comida.</h3>
       </div>
     </div>
   </div>
</div>

<div class="divider header pink lighten-1"></div>

{{outlet}}
