<div class="container">
  <div class="feedback">

    <div class="page-title">
      <img src="/assets/images/icons/multicolor/menu.svg" alt="">
      <h4> Regalanos todo tu Amor ! </h4>
    </div>

    <div class="divider"></div>

    <div class="col s12 m12">
      {{textarea rows="8" cols="8" value=feedback placeholder="Por favor, escribe aqui tus comentarios"}}
      <a class="btn waves-effect waves-light   cyan" href="mailto:foodzyfeedback@gmail.com?body={{feedback}}"> Enviar </a>
    </div>

  </div>
</div>
