<div class="container">
  <div class="feedback row">
    <div class="col s12 m12">
      <img src="/assets/images/icons/multicolor/feedback.svg" alt="">
      <div class="title">
        <p class="phrase"> Regalanos todo tu Amor !</p>
        <p> Tienes propuestas, dudas o comentarios que nos ayuden a mejorar? </p>
      </div>
      {{textarea rows="8" cols="8" value=feedback}}
      <a class="btn waves-effect waves-light pink lighten-1" href="mailto:foodzyfeedback@gmail.com?body={{feedback}}"> Enviar </a>
    </div>

  </div>
</div>
