<div class="container">
  <div class="feedback row">
    <div class="col s12 m12">
      <p class="phrase"> Regalanos todo tu Am<i class="material-icons">favorite</i>r !</p>
      <p> Tienes propuestas, dudas o comentarios que nos ayuden a mejorar? </p>
      {{textarea rows="8" cols="8" value=feedback}}
      <a class="btn waves-effect waves-light pink lighten-1" href="mailto:foodzyfeedback@gmail.com?body={{feedback}}"> Enviar </a>
    </div>

  </div>
</div>
