<div class="container">
  <div class="page-title notifications">
    <img src="/assets/images/icons/png/team.png" alt="">
    <h4> Miembros </h4>
  </div>

  <div class="toolbar">
    <button class="notifications-btn">
     <img src="/assets/images/icons/png/filled-icons/notification.png" alt="">
     <span>Notificar</span>
    </button>
  </div>

 <table class="bordered highlight striped highlight responsive-table orders" id="notificationsTable">
   <thead>
     <tr>
       <th> Notificar </th>
       <th> Miembro </th>
     </tr>
   </thead>
   <tbody>
     {{#each users as |user index|}}
     <tr>
       <td class="checks">
         <i class="fa fa-bell-o" aria-hidden="true"></i>
       </td>
       <td class="username"> {{user.username}} </td>
     </tr>
     {{/each}}
   </tbody>
 </table>
</div>
