<div class="container">
  <div class="page-title notifications">
    <h4> Notificar </h4>
  </div>

  <div class="toolbar">
    <button class="notifications-btn   cyan" {{action "notifyUnansweredUsers"}}>
     <span>Notificar a todos</span>
    </button>
  </div>
  <div class="table-wraper">
   <table class="bordered highlight striped highlight orders grey lighten-5" id="notificationsTable">
     <thead>
       <tr>
         <th> <strong> Nombre </strong> </th>
         <th> <strong> Email </strong> </th>
         <th> <strong> Notificar </strong> </th>
       </tr>
     </thead>
     <tbody>
       {{#each userList as |user index|}}
       <tr>
         <td class="username"> <span> {{user.username}} </span>  </td>
         <td> <span> {{user.email}} </span> </td>

         <td>
           {{#unless user.responded}}
              <button class="notifications-btn cyan" {{action "notifySingleUser" user}}>
              <span>   Notificar </span> 
              </button>
           {{/unless}}
         </td>
       </tr>
       {{/each}}
     </tbody>
   </table>
 </div>
</div>
